@model IEnumerable<Estacionamento>

<div class="mt-2">
    <a type="button" class="btn btn-secondary" asp-area="" asp-controller="Estacionamento" asp-action="Criar">Cadastrar Estacionamento</a>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var estacionamento in Model)
        {
            <div class="card mt-5 mx-2" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">@estacionamento.Nome</h5>
                    <p class="card-text">Código do Estacionamento: @estacionamento.Id</p>
                    <p class="card-text">Código do Endereço: @estacionamento.Endereco.Id</p>
                    <p class="card-text">Rua: @estacionamento.Endereco.Rua</p
                    <p class="card-text">Cidade: @estacionamento.Endereco.Cidade</p>
                    <p class="card-text">Estado: @estacionamento.Endereco.Estado</p>
                    <p><a class="btn btn-primary" asp-area="" asp-controller="Vaga" asp-route-id="@estacionamento.Id" asp-action="ListarPorEstacionamento">Listar Vagas </a></p>
                    <a asp-action="Alterar" asp-route-id="@estacionamento.Id">Editar</a>
                    <a asp-action="Deletar" asp-route-id="@estacionamento.Id">Remover</a>
                </div>
            </div>
        }
    </div>
</div>

