@model Endereco

<form class="mt-2" asp-action="Deletar">
    <div class="mt-3">
        <div class="mb-3 row">
            <p>@Html.DisplayNameFor(model => model.Rua): @Html.DisplayFor(model => model.Rua)</p>
        </div>

        <div class="mb-3 row">
            <p>@Html.DisplayNameFor(model => model.Bairro): @Html.DisplayFor(model => model.Bairro)</p>
        </div>

        <div class="mb-3 row">
            <p>@Html.DisplayNameFor(model => model.Numero): @Html.DisplayFor(model => model.Numero)</p>
        </div>

        <div class="mb-3 row">
            <p>@Html.DisplayNameFor(model => model.Cidade): @Html.DisplayFor(model => model.Cidade)</p>
        </div>

        <div class="mb-3 row">
            <p>@Html.DisplayNameFor(model => model.Estado): @Html.DisplayFor(model => model.Estado)</p>
        </div>
    </div>

    <button type="submit" class="btn btn-danger">Remover</button>
    <a class="mt-2" asp-action="Listar">Voltar para Lista</a>
</form>
